.btn {
  display: inline-block;
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: $primary;
  outline: none;
  border: none;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  @include fontStyle(1.8rem, 2rem, $white);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease-in-out 250ms;

  &:hover {
    background-color: $secondary;
  }
  &_medium {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
  }
}

.btn_light {
  @extend .btn;
  background-color: $bg_dashboard;
  color: $text_dark;

  &:hover {
    background-color: $element_disable;
    color: $white;
  }
}
