$black: #23292E;
$white: #FFFFFF;
$primary: #3B953B;
$secondary: #008200;

//Text
$text_dark: #2c2c2c;
$text_gray: #7e7e7e;
$text_lightGray: #999999;
$text_white: #E5E5E5;

//Background
$background: #f9f9f9;
$bg_dashboard: #ededed;
$bg_darkGray: #686868;
$bg_lighterGray: #787878;
$bg_darkerWhite: #e5e5e5;
$bg_darkWhite: #ededed;

//Elements
$element_darkGray: #606060;
$element_gray: #999999;
$element_lightGray: #c4c4c4;
$element_lighterGray: #d6d6d6;
$element_disable: #bbbbbb;
