#app {
  @include dflex(flex-start, stretch);
  height: 100vh;
  max-height: 100vh;

  & > header {
    width: 20vw;
    max-width: 280px;
    min-width: 200px;
  }

  & > main {
    flex: 3;
    padding: 3rem 3.5rem 3.5rem;
    overflow: auto;
  }
}

.main_wrapper {
  margin-bottom: 3rem;
}

.results {
  @include dflex(flex-start, stretch);
  gap: 3rem;
}
